<%= @nickname %>さんの投稿一覧

<% @posts.each do |post| %>
  <p><%= image_tag post.image.thumb.url, class: 'post-image' %></p>
  <ul>
    <li>
      <p>タイトル : <%= post.title %></p>
    </li>
    <li>
      <p>ユーザー名 : <%= post.user.nickname %></p>
    </li>
  </ul>
<% end %>