<%= image_tag post.image.variant(resize: '500x500'), class: 'post-image' if post.image.attached? %>

<% @posts.each do |post| %>
  <ul>
    <li>
      <%= post.image %>
      <%= post.title %>
      <%= post.user.nickname %>
    </li>
  </ul>
<% end %>